<div class="container-fluid">

    <div class="card">
      <div class="card-header">
        Indicadores económicos diarios
      </div>
      <div class="card-body">
        <h5 class="card-title">Hola bienvenid@s!</h5>
        <p class="card-text">Este es un servicio web que entrega los principales indicadores económicos para Chile.</p>
        <p class="card-text">Esta aplicación utiliza los datos desde <a href="https://mindicador.cl/">mindicador.cl</a> servicio que mapea constantemente el sitio del Banco Central de Chile manteniendo así su base de datos actualizada con los últimos valores del día.</p>
        <br>
        <a routerLink="/indicators-list" class="btn btn-primary">Ver Indicadores</a>
        <!-- <button routerLink="/indicators-list" type="button" class="btn btn-primary">Ver Indicadores</button> -->
      </div>
    </div>

</div>